.login {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://wallpapercave.com/wp/wp7488376.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.container {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  /* width: 300px; */
  text-align: center;
  background-image: url('https://th.bing.com/th/id/OIP.EILYvfCogKJaVEZ-yqqbhQHaHa?w=1134&h=1134&rs=1&pid=ImgDetMain');
  background-size: contain;
  max-width: 300px; /* Adjust the width as needed */
  margin: 0 auto; 
  
}

h1 {
  color: #141212;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group-addon {
  background-color: #337ab7;
  color: #fff;
  border: 1px solid #337ab7;
  border-radius: 4px 0 0 4px;
}

.input-group-addon i {
  padding: 10px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 0 4px 4px 0;
}

.btn-primary {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background-color: #286090;
}

a {
  text-decoration: none;
  color: #337ab7;
}

a:hover {
  color: #23527c;
}

.error-message {
  color: red;
}