<!-- <router-outlet></router-outlet>
<app-login></app-login>
<app-register></app-register>
<app-header></app-header> -->
<app-header></app-header>
<br/>
<marquee><h1>Welcome to Grand Gatherings</h1></marquee>
<br/>  
<router-outlet></router-outlet>