.register-container {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    text-align: center;
    margin: auto;
    background-image: url('https://scmaldives.com/luxury-events/wp-content/gf-uploads/2020/06/LUXURYEVENTS-801340786.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  h2 {
    color: #0e0c0c;
    margin-bottom: 20px;
    text-size-adjust: 34px;
  }
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #070606;
  }
  input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  button:hover {
    background-color: #45a049;
  }