<div class="register-container">
	<h2>Registration</h2>
	<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)" novalidate>
	  <div class="form-group">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username" ngModel required>
	  </div>
	  <div class="form-group">
		<label for="email">Email ID:</label>
		<input type="email" id="email" name="email" ngModel required email>
	  </div>
	  <div class="form-group">
		<label for="password">Password:</label>
		<input type="password" id="password" name="password" ngModel required minlength="6">
	  </div>
	  <div class="form-group">
		<label for="confirmPassword">Confirm Password:</label>
		<input type="password" id="confirmPassword" name="confirmPassword" ngModel required>
	  </div>
	  <div class="form-group">
		<label for="date">Date of Event:</label>
		<input type="date" id="date" name="date" ngModel required>
	  </div>
	  <div class="form-group">
		<label for="address">Address:</label>
		<input type="text" id="address" name="address" ngModel required>
	  </div>
	  <div class="form-group">
		<label for="venue">Venue:</label>
		<input type="text" id="venue" name="venue" ngModel required>
	  </div>
	  <button type="submit" >Register</button>
	  New User? <a href="login" target="_blank">SignIn</a>
	</form>
  </div>